.top-nav {
    display: grid;
    align-content: center;
    background-color: black;
    color: white;
}

.top-nav-ul {
    padding: 0;
    list-style: none;
    display: grid;
}

li {
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
}


@media (min-width: 650px) {

}

@media (min-width: 1000px) {
    .top-nav-ul {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: 3fr auto 1fr 1fr 1fr 1fr 1fr auto 3fr 1fr;
        grid-template-rows: auto;
    }

    .cross {
        grid-column: 1/2;
    }

    .home {
        grid-column: 3/4;
    }

    .services {
        grid-column: 4/5;
    }

    .blog {
        grid-column: 5/6;
    }

    .media {
        grid-column: 6/7;
    }

    .gallery {
        grid-column: 7/8;
    }

    .language {
        grid-column: 9/10;
        display: flex;
        justify-content: flex-end;
    }

    .user-icon {
        grid-column: 10/11;
    }
}
